/*------------------------------------------------------------------
[Cards]
*/
.card {
  font-family: "Noto Sans", sans-serif;
  @include border-radius(0);
  border-color: transparent;
  display: block;
  .card-title{
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    a{
      color: $dark;
    }
  }
  .card-header{
    border-bottom: 1px solid $whitesmoke;
    background:transparent;
    font-size: 15px;
    .card-header-tabs{
      margin-bottom: 0!important;
    }
    [data-toggle="collapse"]{
      width: 100%;
      text-align: left;
      font-weight: 400;
      font-size: 16px;
      &:after{
        font-family:'FontAwesome';
        content: "\f107";
        float: right;
        display: block;
        font-size: 22px;
        @include transition(all 200ms ease 0s);
      }
    }
    [aria-expanded=true]{
      &:after {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        @include transform(rotate(180deg));
      }
    }
    [aria-expanded=false]{
      &:after {
        @include transform(rotate(0deg));
      }
    }
    .card-header-pills{
      >li{
        >a{
          &:not(.disabled){
            &.active, &:hover, &:focus{
              background:transparent;
              @include border-radius(0);
            }
          }
        }
      }
    }
  }
  .card-body{
    blockquote{
      margin-bottom: 0;
      padding-left: 0;
    }
  }
  .card-footer{
    border-top: 1px solid rgba(160,160,160,0.2);
    background:transparent;
  }
  .card-img-overlay{
    overflow: hidden;
  }
  img {
    &:not(.img-fluid){
      width: 100%;
    }
  }
  &.card-transparent{
    background-color: transparent;
  }
  &.card-borderless {
    border: none;
  }
  &.card-shadowless {
    @include box-shadow(none);
  }
  &.material-card-image-overlays{
    @include box-shadow( 0 5px 10px 0 rgba(0,0,0,.1));
    border: 0;
    .card-img-overlay{
      color: white;
      z-index: 2;
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include flex-direction(column);
      width: 440px;
      margin: 0 auto;
      text-align: center;
      .card-title{
        font-family: "Roboto Slab", "Times New Roman", serif;
        font-size: 27px;
        margin-bottom: 10px;
      }
    }
    &:after{
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
      content: "";
      background-color: rgba(0, 0, 0, 0.56);
    }
    small{
      color: rgba(255, 255, 255, 0.7)!important;
    }
    @include transition(all 0.3s ease);
    &:hover{
      box-shadow: 0 9px 10px 0 rgba(0,0,0,0.1), 0 9px 20px 0 rgba(0,0,0,0.1);
    }
  }
  &.card-material{
    @include box-shadow( 0 5px 10px 0 rgba(0,0,0,.1));
    border: 0;
    .card-header{
      border-bottom: 0;
      padding: 0 10px;
    }
    .card-title{
      font-family: "Roboto Slab", "Times New Roman", serif;
      font-weight: 700;
    }
    .card-body{
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 30px;
      .btn{
        min-width: 100px;
      }
      .card-text{
        padding-bottom: 10px;
        margin-bottom: 7px;
      }
      .card-category{
        display: block;
        color: fade-out($light-grey, .1);
        opacity: .8;
        font-size: 13px;
        margin: 5px 0;
      }
      .card-link{
        @include transition(all 0.3s ease);
        cursor: pointer;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        &:hover{
          opacity: .8;
        }
      }
    }
    .nav-tabs{
      border-bottom: 0;
      &:after {
        content: '';
        border-bottom: 2px solid $whitesmoke;
        width: 100%;
        position: absolute;
        bottom: -4px;
        left: 0;
        z-index: 120;
      }
      > li {
        margin-bottom: 0;
        > a {
          &:after {
            position: absolute;
            @include transition(all 0.1s linear 0s);
            -webkit-backface-visibility: hidden;
            width: 100%;
            display: block;
            background-color: transparent;
            height: 3px;
            content: '';
            left: 0;
            z-index: 125;
          }
        }
      }
    }
    .nav-pills{
      border-bottom: 0;
      &.card-header-pills{
        margin-bottom: 0;
        padding: 3px 10px;
        >li{
          >a{
            &:not(.disabled){
              &.active, &:focus, &:hover{
                border-width: 3px;
              }
            }
          }
        }
      }
    }
    @include transition(all 0.3s ease);
    &:hover{
      box-shadow: 0 9px 10px 0 rgba(0,0,0,0.1), 0 9px 20px 0 rgba(0,0,0,0.1);
    }
  }
  &.card-image-material{
    padding: 15px;
    @include box-shadow( 0 5px 10px 0 rgba(0,0,0,.1));
    p{
      margin-bottom: 0;
      clear: both;
    }
    img{
      @include transition(all .55s cubic-bezier(.6,.2,.1,1));
      @include box-shadow( 0 5px 10px 0 rgba(0,0,0,.1));
      @include border-radius(0);
      clear: both;
      &.card-img-top{
        + .card-img-overlay{
          top: 5px;
          left: 15px;
          bottom: auto;
          .card-title{
            color: white;
            font-size: 20px;
          }
        }
      }
      &.card-img-bottom{
        + .card-img-overlay{
          top: auto;
          left: 15px;
          bottom: 15px;
          .card-title{
            color: white;
            font-size: 20px;
          }
        }
      }
      &:hover{
        @include box-shadow(0 13px 64px 0 rgba(0,0,0,.1));
      }
    }
    .card-title{
      font-family: "Roboto Slab", "Times New Roman", serif;
      font-weight: 700;
    }
    .card-body{
      padding-left: 15px;
      padding-right: 15px;
      .btn{
        min-width: 100px;
      }
      .card-category{
        display: block;
        color: fade-out($light-grey, .1);
        opacity: .8;
        font-size: 13px;
        margin: 5px 0;
      }
      .card-link{
        margin: 10px 15px 10px 0;
        display: block;
        @include transition(all 0.3s ease);
        cursor: pointer;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        &:hover{
          opacity: .8;
        }
      }
    }
    @include transition(all 0.3s ease);
    &:hover{
      box-shadow: 0 9px 10px 0 rgba(0,0,0,0.1), 0 9px 20px 0 rgba(0,0,0,0.1);
    }
  }
}

.card-group, .card-deck{
  .card{
    display: block;
    &.card-material{
      img{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .card-body{
        .card-text{
          border-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 360px){
  .card{
    .card-link{
      font-size: 14px!important;
      +.card-link{
        margin: 4px;
      }
    }
    .card-header{
      padding: 4px 8px;
    }
  }
}

@media screen and (max-width: 767px){
  .card{
    &.material-card-image-overlays {
      .card-img-overlay{
        width: 90%;
      }
    }
  }
}
@media screen and (max-width: 991px){
  .card{
    &.card-material .card-body {
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}