/*------------------------------------------------------------------
[Carousel]
*/
.carousel{
  width: 100%;
  .carousel-indicators{
    li{
      cursor: pointer;
    }
  }
  .carousel-control-next-icon{
    background-image: none;
    font-size: 34px;
    color: white;
    position: relative;
    &:after{
      content: "\f105 ";
      font-family: FontAwesome;
      position: absolute;
      right: 0;
    }
  }
  .carousel-control-prev-icon{
    background-image: none;
    color: white;
    position: relative;
    &:after{
      content: "\f104";
      font-family: FontAwesome;
      position: absolute;
      font-size: 34px;
      left: 0;
    }
  }
  .carousel-inner{
    img{
      height: 500px;
      object-fit: cover;
    }
  }
  &.material-carousel{
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    .carousel-caption{
      padding-bottom: 45px;
      font-family: "Roboto Slab","Times New Roman",serif;
      h3{
        font-family: "Roboto Slab","Times New Roman",serif;
      }
    }
    .carousel-control-next, .carousel-control-prev{
      opacity: 1;
      &:hover{
        opacity: .8;
      }
    }
    .carousel-control-next{
      .carousel-control-next-icon{
        &:after{
          content: "\f178";
        }
      }
    }
    .carousel-control-prev{
      .carousel-control-prev-icon{
        &:after{
          content: "\f177";
        }
      }
    }
    .carousel-indicators{
      li{
        background: #FFFFFF;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        @include border-radius(2px);
        width: 10px;
        height: 10px;
        @include transition(all 300ms linear);
        margin: 11px 10px;
        &.active{
          margin: 11px 10px 10px 10px;
          @include transform(scale(1.5));
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
@media screen and (max-width: 1400px){
  .carousel{
    .carousel-inner {
      img {
        height: 420px;
      }
    }
  }
}
@media screen and (max-width: 991px){
  .carousel{
    .carousel-inner {
      img {
        height: 380px;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .carousel{
    .carousel-inner {
      img {
        height: 320px;
      }
    }
  }
}
@media screen and (max-width: 575px){
  .carousel{
    .carousel-control-next-icon{
      font-size: 28px;
      &:after{
        right: 10px;
      }
    }
    .carousel-control-prev-icon{
      &:after{
        font-size: 26px;
        left: 10px
      }
    }
    .carousel-inner{
      img{
        height: 260px;
      }
    }
  }
}