@import "variables";
@import "mixins";
@import "default-colors";

/*------------------------------------------------------------------
[Color Settings]
*/

/*
1. Theme custom  color
2. Buttons
3. Tabs
4. Background color options
5. Text color options
6. Border color options
7. Checkboxes and Radios
8. Sliders
-------------------------------------------------------------------*/

/*-------------------------------
Theme custom color
*/
.theme-custom{
  @include theme-color($custom, $custom-darker, $custom-dark, $custom-light);
}

/*-------------------------------
Buttons
*/
.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: #ffffff;
  &:focus, &.active, &:active, &.active:focus,
  &.active:hover, &:active:focus, &:active:hover,
  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus{
    background-color: $primary-darker;
    border-color: $primary-darker;
  }
  &.hover, &:hover {
    background-color: $primary-dark;
    border-color: $primary-dark;
  }
  &.disabled, &[disabled] {
    background-color:$primary-light;
    border-color: $primary-light;
  }
  &.disabled:hover, &[disabled]:hover,
  &.disabled:focus, &[disabled]:focus,
  &.disabled:active, &[disabled]:active,
  &.disabled.active, &[disabled].active{
    background-color:$primary-light;
    border-color: $primary-light;
  }
  .badge {
    background-color: $primary-dark;
  }
}
.btn-outline-primary {
  color: $primary;
  border: 1px solid $primary;
  &:hover, &.active, &:focus, &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active{
    background-color: $primary;
    border-color: $primary;
    color: #ffffff!important;
  }
}

.show {
  > .dropdown-toggle{
    &.btn-primary, &.btn-outline-primary {
      background-color: $primary-dark;
      border-color: $primary-dark;
    }
  }
}

fieldset[disabled] {
  .btn-primary {
    background-color:$primary-light;
    &:hover, &:focus, &:active, &.active {
      background-color:$primary-light;
    }
  }
}


.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  color: #ffffff;
  &:focus, &.active, &:active, &.active:focus,
  &.active:hover, &:active:focus, &:active:hover,
  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus{
    background-color: $secondary-darker;
    border-color: $secondary-darker;
  }
  &.hover, &:hover {
    background-color: $secondary-dark;
    border-color: $secondary-dark;
  }
  &.disabled, &[disabled] {
    background-color:$secondary-light;
    border-color: $secondary-light;
  }
  &.disabled:hover, &[disabled]:hover,
  &.disabled:focus, &[disabled]:focus, &.disabled:active,
  &[disabled]:active,
  &.disabled.active,
  &[disabled].active{
    background-color:$secondary-light;
    border-color: $secondary-light;
  }
  .badge {
    background-color: $secondary-dark;
  }
}
.btn-outline-secondary {
  color: $secondary;
  border: 1px solid $secondary;
  &:hover, &.active, &:focus, &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active{
    background-color: $secondary;
    border-color: $secondary;
    color: #ffffff!important;
  }
}

.show{
  > .dropdown-toggle{
    &.btn-secondary, &.btn-outline-secondary {
      background-color: $secondary-dark;
      border-color: $secondary-dark;
    }
  }
}

fieldset[disabled] {
  .btn-secondary {
    background-color:$secondary-light;
    &:hover, &:focus, &:active, &.active {
      background-color:$secondary-light;
    }
  }
}

.btn-success {
  background-color: $success;
  border-color: $success;
  color: #ffffff;
  &:focus, &.active, &:active, &.active:focus,
  &.active:hover, &:active:focus, &:active:hover,
  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus{
    background-color: $success-darker;
    border-color: $success-darker;
  }
  &.hover, &:hover {
    background-color: $success-dark;
    border-color: $success-dark;
  }
  &.disabled, &[disabled] {
    background-color:$success-light;
    border-color: $success-light;
  }
  &.disabled:hover,
  &[disabled]:hover,
  &.disabled:focus,
  &[disabled]:focus,
  &.disabled:active,
  &[disabled]:active,
  &.disabled.active,
  &[disabled].active{
    background-color:$success-light;
    border-color: $success-light;
  }
  .badge {
    background-color: $success-dark;
  }
}
.btn-outline-success {
  color: $success;
  border: 1px solid $success;
  &:hover, &.active, &:focus, &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active{
    background-color: $success;
    border-color: $success;
    color: #ffffff!important;
  }
}

.show{
  > .dropdown-toggle{
    &.btn-success, &.btn-outline-success {
      background-color: $success-dark;
      border-color: $success-dark;
    }
  }
}

fieldset[disabled]{
  .btn-success {
    background-color:$success-light;
    &:hover, &:focus, &:active, &.active {
      background-color:$success-light;
    }
  }
}

.btn-info {
  background-color: $info;
  border-color: $info;
  color: #ffffff;
  &:focus, &.active, &:active, &.active:focus,
  &.active:hover, &:active:focus, &:active:hover,
  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus{
    background-color: $info-darker;
    border-color: $info-darker;
  }
  &.hover, &:hover {
    background-color: $info-dark;
    border-color: $info-dark;
  }
  &.disabled, &[disabled] {
    background-color:$info-light;
    border-color: $info-light;
  }
  &.disabled:hover, &[disabled]:hover, &.disabled:focus, &[disabled]:focus, &.disabled:active, &[disabled]:active,  &.disabled.active, &[disabled].active{
    background-color:$info-light;
    border-color: $info-light;
  }
  .badge {
    background-color: $info-dark;
  }
}
.btn-outline-info {
  color: $info;
  border: 1px solid $info;
  &:hover, &.active, &:focus, &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active{
    background-color: $info;
    border-color: $info;
    color: #ffffff!important;
  }
}

.show{
  > .dropdown-toggle{
    &.btn-info, &.btn-outline-info {
      background-color: $info-dark;
      border-color: $info-dark;
    }
  }
}

fieldset[disabled]{
  .btn-info {
    background-color: $info-light;
    &:hover, &:focus, &:active, &.active {
      background-color:$info-light;
    }
  }
}

.btn-danger {
  background-color: $danger;
  border-color: $danger;
  color: #ffffff;
  &:focus, &.active, &:active, &.active:focus,
  &.active:hover, &:active:focus, &:active:hover,
  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus{
    background-color: $danger-darker;
    border-color: $danger-darker;
  }
  &.hover, &:hover {
    background-color: $danger-dark;
    border-color: $danger-dark;
  }
  &.disabled, &[disabled] {
    background-color:$danger-light;
    border-color: $danger-light;
  }
  &.disabled:hover, &[disabled]:hover,
  &.disabled:focus, &[disabled]:focus,
  &.disabled:active, &[disabled]:active,
  &.disabled.active, &[disabled].active{
    background-color:$danger-light;
    border-color: $danger-light;
  }
  .badge {
    background-color: $danger-dark;
  }
}
.btn-outline-danger {
  color: $danger;
  border: 1px solid $danger;
  &:hover, &.active, &:focus, &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active{
    background-color: $danger;
    border-color: $danger;
    color: #ffffff!important;
  }
}

.show{
  > .dropdown-toggle{
    &.btn-danger, &.btn-outline-danger {
      background-color: $danger-dark;
      border-color: $danger-dark;
    }
  }
}

fieldset[disabled]{
  .btn-danger {
    background-color:$danger-light;
    &:hover, &:focus, &:active, &.active {
      background-color:$danger-light;
    }
  }
}

.btn-warning {
  background-color: $warning;
  border-color: $warning;
  color: #ffffff;
  &:focus, &.active, &:active, &.active:focus,
  &.active:hover, &:active:focus, &:active:hover,
  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus{
    background-color: $warning-darker;
    border-color: $warning-darker;
  }
  &.hover, &:hover {
    background-color: $warning-dark;
    border-color: $warning-dark;
  }
  &.disabled, &[disabled] {
    background-color:$warning-light;
    border-color: $warning-light;
  }
  &.disabled:hover, &[disabled]:hover, &.disabled:focus, &[disabled]:focus, &.disabled:active, &[disabled]:active,  &.disabled.active, &[disabled].active{
    background-color:$warning-light;
    border-color: $warning-light;
  }
  .badge {
    background-color: $warning-dark;
  }
}
.btn-outline-warning {
  color: $warning;
  border: 1px solid $warning;
  &:hover, &.active, &:focus, &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active{
    background-color: $warning;
    border-color: $warning;
    color: #ffffff!important;
  }
}

.show{
  > .dropdown-toggle{
    &.btn-warning, &.btn-outline-warning {
      background-color: $warning-dark;
      border-color: $warning-dark;
    }
  }
}

fieldset[disabled]{
  .btn-warning {
    background-color:$warning-light;
    &:hover, &:focus, &:active, &.active {
      background-color:$warning-light;
    }
  }
}

.btn-light {
  background-color: $light;
  border-color: $light;
  color: $grey-dark;
  &:focus, &.active, &:active, &.active:focus,
  &.active:hover, &:active:focus, &:active:hover,
  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus{
    background-color: $light-darker;
    border-color: $light-darker;
  }
  &.hover, &:hover {
    background-color: $light-dark;
    border-color: $light-dark;
  }
  &.disabled, &[disabled] {
    background-color:$light-light;
    border-color: $light-light;
  }
  &.disabled:hover, &[disabled]:hover,
  &.disabled:focus, &[disabled]:focus,
  &.disabled:active, &[disabled]:active,
  &.disabled.active, &[disabled].active{
    background-color:$light-light;
    border-color: $light-light;
  }
  .badge {
    background-color: $light-dark;
  }
}
.btn-outline-light {
  color: $grey-dark;
  border: 1px solid $light;
  &:hover, &.active, &:focus, &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active{
    background-color: $light;
    border-color: $light;
    color: #ffffff!important;
  }
}

.show{
  > .dropdown-toggle{
    &.btn-light, &.btn-outline-light {
      background-color: $light-dark;
      border-color: $light-dark;
    }
  }
}

fieldset[disabled]{
  .btn-light {
    background-color:$light-light;
    &:hover, &:focus, &:active, &.active {
      background-color:$light-light;
    }
  }
}


.btn-dark {
  background-color: $dark;
  border-color: $dark;
  color: #ffffff;
  &:focus, &.active, &:active, &.active:focus,
  &.active:hover, &:active:focus, &:active:hover,
  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus{
    background-color: $dark-darker;
    border-color: $dark-darker;
  }
  &.hover, &:hover {
    background-color: $dark-dark;
    border-color: $dark-dark;
  }
  &.disabled, &[disabled] {
    background-color:$dark-light;
    border-color: $dark-light;
  }
  &.disabled:hover,
  &[disabled]:hover,
  &.disabled:focus,
  &[disabled]:focus,
  &.disabled:active,
  &[disabled]:active,
  &.disabled.active,
  &[disabled].active{
    background-color:$dark-light;
    border-color: $dark-light;
  }
  .badge {
    background-color: $dark-dark;
  }
}
.btn-outline-dark {
  color: $dark;
  border: 1px solid $dark;
  &:hover, &.active, &:focus, &:not([disabled]):not(.disabled).active, &:not([disabled]):not(.disabled):active{
    background-color: $dark;
    border-color: $dark;
    color: #ffffff!important;
  }
}

.show{
  > .dropdown-toggle{
    &.btn-dark, &.btn-outline-dark   {
      background-color: $dark-dark;
      border-color: $dark-dark;
    }
  }
}

fieldset[disabled]{
  .btn-dark {
    background-color:$dark-light;
    &:hover, &:focus, &:active, &.active {
      background-color:$dark-light;
    }
  }
}

/*-------------------------------
Tabs
*/
.nav-tabs-simple{
  &.nav-tabs-primary > li > a.active, &.nav-tabs-primary > li > a:hover, &.nav-tabs-primary > li > a:focus{
    color:$primary;
    &:after{
      background-color: $primary;
    }
  }
  &.nav-tabs-secondary > li > a.active, &.nav-tabs-secondary > li > a:hover, &.nav-tabs-secondary > li > a:focus{
    color: $secondary;
    &:after{
      background-color: $secondary;
    }
  }
  &.nav-tabs-success > li > a.active, &.nav-tabs-success > li > a:hover, &.nav-tabs-success > li > a:focus{
    color:$success;
    &:after{
      background-color: $success;
    }
  }
  &.nav-tabs-danger > li > a.active, &.nav-tabs-danger > li > a:hover, &.nav-tabs-danger > li > a:focus{
    color:$danger;
    &:after{
      background-color: $danger;
    }
  }
  &.nav-tabs-warning > li > a.active, &.nav-tabs-warning > li > a:hover, &.nav-tabs-warning > li > a:focus{
    color:$warning;
    &:after{
      background-color: $warning;
    }
  }

  &.nav-tabs-info > li > a.active, &.nav-tabs-info > li > a:hover, &.nav-tabs-info > li > a:focus{
    color:$info;
    &:after{
      background-color: $info;
    }
  }

  &.nav-tabs-light > li > a.active, &.nav-tabs-light > li > a:hover, &.nav-tabs-light > li > a:focus{
    color: $light;
    &:after{
      background-color: $light;
    }
  }

  &.nav-tabs-dark > li > a.active, &.nav-tabs-dark > li > a:hover, &.nav-tabs-dark > li > a:focus{
    color: $dark;
    &:after{
      background-color: $dark;
    }
  }
}

.nav-tabs-linetriangle {
  &.nav-tabs-primary{
    &:after {
      border-bottom: 1px solid $primary;
    }
    > li {
      > a {
        &.active{
          color:$primary;
          &:before {
            border-top-color:$primary;
          }
        }
      }
    }
  }
  &.nav-tabs-secondary{
    &:after {
      border-bottom: 1px solid $secondary;
    }
    > li {
      > a {
        &.active{
          color:$secondary;
          &:before {
            border-top-color:$secondary;
          }
        }
      }
    }
  }
  &.nav-tabs-success{
    &:after {
      border-bottom: 1px solid $success;
    }
    > li {
      > a {
        &.active{
          color: $success;
          &:before {
            border-top-color: $success;
          }
        }
      }
    }
  }
  &.nav-tabs-danger{
    &:after {
      border-bottom: 1px solid $danger;
    }
    > li {
      > a {
        &.active{
          color:$danger;
          &:before {
            border-top-color:$danger;
          }
        }
      }
    }
  }
  &.nav-tabs-info{
    &:after {
      border-bottom: 1px solid $info;
    }
    > li {
      > a {
        &.active{
          color:$info;
          &:before {
            border-top-color:$info;
          }
        }
      }
    }
  }
  &.nav-tabs-warning{
    &:after {
      border-bottom: 1px solid $warning;
    }
    > li {
      > a {
        &.active{
          color:$warning;
          &:before {
            border-top-color:$warning;
          }
        }
      }
    }
  }
  &.nav-tabs-light{
    &:after {
      border-bottom: 1px solid $light;
    }
    > li {
      > a {
        &.active{
          color: $light;
          &:before {
            border-top-color: $light;
          }
        }
      }
    }
  }
  &.nav-tabs-dark{
    &:after {
      border-bottom: 1px solid $dark;
    }
    > li {
      > a {
        &.active{
          color: $dark;
          &:before {
            border-top-color: $dark;
          }
        }
      }
    }
  }
}

/*-------------------------------
Background color options
*/

/* Primary
------------------------------------
*/

.bg-primary {
  background-color: $primary!important;
  color: white;
}

.bg-primary-dark {
  background-color: $primary-dark!important;
  color: white;
}

.bg-primary-darker {
  background-color: $primary-darker!important;
  color: white;
}

.bg-primary-light {
  background-color: $primary-light!important;
  color: white;
}

.bg-primary-lighter {
  background-color: $primary-lighter!important;
  color: white;
}

/* Secondary
------------------------------------
*/

.bg-secondary {
  background-color: $secondary!important;
  color: white;
}

.bg-secondary-dark {
  background-color: $secondary-dark!important;
  color: white;
}

.bg-secondary-darker {
  background-color: $secondary-darker!important;
  color: white;
}

.bg-secondary-light {
  background-color: $secondary-light!important;
  color: white;
}

.bg-secondary-lighter {
  background-color: $secondary-lighter!important;
  color: white;
}

/* Success
------------------------------------
*/

.bg-success {
  background-color: $success!important;
  color: white;
}

.bg-success-dark {
  background-color: $success-dark!important;
  color: white;
}

.bg-success-darker {
  background-color: $success-darker!important;
  color: white;
}

.bg-success-light {
  background-color: $success-light!important;
  color: white;
}

.bg-success-lighter {
  background-color: $success-lighter!important;
  color: white;
}

/* Info
------------------------------------
*/

.bg-info {
  background-color: $info!important;
  color: white;
}

.bg-info-dark {
  background-color: $info-dark!important;
  color: white;
}

.bg-info-darker {
  background-color: $info-darker!important;
  color: white;
}

.bg-info-light {
  background-color: $info-light!important;
  color: white;
}

.bg-info-lighter {
  background-color: $info-lighter!important;
  color: white;
}

/* Danger
------------------------------------
*/

.bg-danger {
  background-color: $danger!important;
  color: white;
}

.bg-danger-dark {
  background-color: $danger-dark!important;
  color: white;
}

.bg-danger-darker {
  background-color: $danger-darker!important;
  color: white;
}

.bg-danger-light {
  background-color: $danger-light!important;
  color: white;
}

.bg-danger-lighter {
  background-color: $danger-lighter!important;
  color: white;
}

/* Warning
------------------------------------
 */

.bg-warning {
  background-color: $warning!important;
  color: white;
}

.bg-warning-dark {
  background-color: $warning-dark!important;
  color: white;
}

.bg-warning-darker {
  background-color: $warning-darker!important;
  color: white;
}

.bg-warning-light {
  background-color: $warning-light!important;
  color: white;
}

.bg-warning-lighter {
  background-color: $warning-lighter!important;
  color: white;
}

/* Light
------------------------------------
 */

.bg-light {
  background-color: $light!important;
  color: $dark;
}

.bg-light-dark {
  background-color: $light-dark!important;
  color: $dark;
}

.bg-light-darker {
  background-color: $light-darker!important;
  color: $dark;
}

.bg-light-light {
  background-color: $light-light!important;
  color: $dark;
}

.bg-light-lighter {
  background-color: $light-lighter!important;
  color: $dark;
}

/* Dark
------------------------------------
 */

.bg-dark {
  background-color: $dark!important;
  color: white;
}

.bg-dark-dark {
  background-color: $dark-dark!important;
  color: white;
}

.bg-dark-darker {
  background-color: $dark-darker!important;
  color: white;
}

.bg-dark-light {
  background-color: $dark-light!important;
  color: white;
}

.bg-dark-lighter {
  background-color: $dark-lighter!important;
  color: white;
}


/*-------------------------------
Text color options
*/
.text-primary{
  color: $primary!important;
}
.text-secondary{
  color: $secondary!important;
}
.text-success{
  color: $success!important;
}
.text-info{
  color: $info!important;
}
.text-warning{
  color:$warning!important;
}
.text-danger{
  color:$danger!important;
}
.text-light{
  color: $light!important;
}
.text-dark{
  color: $dark!important;
}
a{
  &.text-primary{
    &:focus, &:hover{
      color: $primary-dark!important;
    }
  }
  &.text-success{
    &:focus, &:hover{
      color: $success-dark!important;
    }
  }
  &.text-info{
    &:focus, &:hover{
      color: $info-dark!important;
    }
  }
  &.text-warning{
    &:focus, &:hover{
      color: $warning-dark!important;
    }
  }
  &.text-danger{
    &:focus, &:hover{
      color: $danger-dark!important;
    }
  }
  &.text-secondary{
    &:focus, &:hover{
      color: $secondary-dark!important;
    }
  }
  &.text-light{
    &:focus, &:hover{
      color: $light-dark!important;
    }
  }
  &.text-dark{
    &:focus, &:hover{
      color: $dark-dark!important;
    }
  }
}

/*-------------------------------
Border color options
*/
.border-primary{
  border-color: $primary!important;
}
.border-secondary{
  border-color: $secondary!important;
}
.border-success{
  border-color: $success!important;
}
.border-info{
  border-color: $info!important;
}
.border-warning{
  border-color: $warning!important;
}
.border-danger{
  border-color: $danger!important;
}
.border-light{
  border-color: $light!important;
}
.border-dark{
  border-color: $dark!important;
}

/*-------------------------------
Badges
*/
.badge-primary {
  background-color:$primary;
  color: #ffffff;
  .badge{
    background-color: $primary-dark;
  }
}
.badge-secondary {
  background-color:$secondary;
  color: #ffffff;
  .badge{
    background-color: $secondary-dark;
  }
}
.badge-success {
  background-color:$success;
  color: #ffffff;
  .badge{
    background-color: $success-dark;
  }
}

.badge-warning {
  background-color: $warning;
  color: #ffffff;
  .badge{
    background-color: $warning-dark;
  }
}

.badge-important, .badge-danger {
  background-color: $danger;
  color: #ffffff;
  .badge{
    background-color: $danger-dark;
  }
}

.badge-info {
  background-color: $info;
  color: #ffffff;
  .badge{
    background-color: $info-dark;
  }
}

.badge-light {
  background-color: $light;
  color: $dark;
  .badge{
    background-color: $light-dark;
  }
}
.badge-dark {
  background-color: $dark;
  color: #ffffff;
  .badge{
    background-color: $dark-dark;
  }
}

/*-------------------------------
Input prepend and append
*/
.input-group{
  .input-group-prepend, .input-group-append {
    &.primary {
      .input-group-text{
        background-color: $primary;
        border: 1px solid $primary;
        color: #ffffff;
      }
    }
    &.secondary {
      .input-group-text{
        background-color: $secondary;
        border: 1px solid $secondary;
        color: #ffffff;
      }
    }
    &.success {
      .input-group-text{
        background-color: $success;
        border: 1px solid $success;
        color: #ffffff;
      }
    }
    &.info {
      .input-group-text{
        background-color: $info;
        border: 1px solid $info;
        color: #ffffff;
      }
    }
    &.warning {
      .input-group-text{
        background-color: $warning;
        border: 1px solid $warning;
        color: #ffffff;
      }
    }
    &.danger {
      .input-group-text{
        background-color: $danger;
        border: 1px solid $danger;
        color: #ffffff;
      }
    }
    &.light {
      .input-group-text{
        background-color: $light;
        border: 1px solid $light;
        color: #ffffff;
      }
    }
    &.dark {
      .input-group-text{
        background-color: $dark;
        border: 1px solid $dark;
        color: #ffffff;
      }
    }
  }
}

/*-------------------------------
Checkboxes and Radios
*/

/*
 Custom checkboxes and radios
 */
.custom-checkbox{
  &.custom-checkbox-primary {
    .custom-control-input {
      &:checked {
        ~ .custom-control-label:before {
          background-color: $primary;
          border-color: $primary;
        }
      }
    }
  }
  &.custom-checkbox-success {
    .custom-control-input {
      &:checked {
        ~ .custom-control-label:before {
          background-color: $success;
          border-color: $success;
        }
      }
    }
  }
  &.custom-checkbox-info {
    .custom-control-input {
      &:checked {
        ~ .custom-control-label:before {
          background-color: $info;
          border-color: $info;
        }
      }
    }
  }
  &.custom-checkbox-secondary {
    .custom-control-input {
      &:checked {
        ~ .custom-control-label:before {
          background-color: $secondary;
          border-color: $secondary;
        }
      }
    }
  }
  &.custom-checkbox-danger {
    .custom-control-input {
      &:checked {
        ~ .custom-control-label:before {
          background-color: $danger;
          border-color: $danger;
        }
      }
    }
  }
  &.custom-checkbox-warning {
    .custom-control-input {
      &:checked {
        ~ .custom-control-label:before {
          background-color: $warning;
          border-color: $warning;
        }
      }
    }
  }
  &.custom-checkbox-light {
    .custom-control-input {
      &:checked {
        ~ .custom-control-label:before {
          background-color: $light;
          border-color: $light;
        }
      }
    }
  }
  &.custom-checkbox-dark {
    .custom-control-input {
      &:checked {
        ~ .custom-control-label:before {
          background-color: $dark;
          border-color: $dark;
        }
      }
    }
  }
}

.custom-radio {
  &.custom-radio-primary {
    .custom-control-input {
      &:checked {
        ~ .custom-control-label:before {
          background-color: $primary;
          border-color: $primary;
        }
      }
    }
  }
  &.custom-radio-success{
    .custom-control-input {
      &:checked {
        ~.custom-control-label:before {
          background-color: $success;
          border-color: $success;
        }
      }
    }
  }
  &.custom-radio-info{
    .custom-control-input {
      &:checked {
        ~.custom-control-label:before {
          background-color: $info;
          border-color: $info;
        }
      }
    }
  }
  &.custom-radio-secondary{
    .custom-control-input {
      &:checked {
        ~.custom-control-label:before {
          background-color: $secondary;
          border-color: $secondary;
        }
      }
    }
  }
  &.custom-radio-danger{
    .custom-control-input {
      &:checked {
        ~.custom-control-label:before {
          background-color: $danger;
          border-color: $danger;
        }
      }
    }
  }
  &.custom-radio-warning{
    .custom-control-input {
      &:checked {
        ~.custom-control-label:before {
          background-color: $warning;
          border-color: $warning;
        }
      }
    }
  }
  &.custom-radio-light{
    .custom-control-input {
      &:checked {
        ~.custom-control-label:before {
          background-color: $light;
          border-color: $light;
        }
      }
    }
  }
  &.custom-radio-dark{
    .custom-control-input {
      &:checked {
        ~.custom-control-label:before {
          background-color: $dark;
          border-color: $dark;
        }
      }
    }
  }
}

.material-checkbox{
  &.material-checkbox-primary{
    .custom-control-input{
      &:checked{
       ~ .custom-control-label:before {
          border-color: $primary;
        }
      }
    }
  }
  &.material-checkbox-success{
    .custom-control-input{
      &:checked{
       ~ .custom-control-label:before{
          border-color: $success;
        }
      }
    }
  }
  &.material-checkbox-info{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label:before{
          border-color: $info;
        }
      }
    }
  }
  &.material-checkbox-secondary{
    .custom-control-input{
      &:checked{
         ~ .custom-control-label:before{
          border-color: $secondary;
        }
      }
    }
  }
  &.material-checkbox-warning{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label:before{
          border-color: $warning;
        }
      }
    }
  }
  &.material-checkbox-danger{
    .custom-control-input{
      &:checked{
       ~ .custom-control-label:before{
          border-color: $danger;
        }
      }
    }
  }
  &.material-checkbox-light{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label:before{
          border-color: $light;
        }
      }
    }
  }
  &.material-checkbox-dark{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label:before{
          border-color: $dark;
        }
      }
    }
  }
}

.material-radio{
  &.material-radio-primary{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label{
          &:before{
            border-color: $primary;
          }
          &:after{
            background-color: $primary;
          }
        }
      }
    }
  }
  &.material-radio-success{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label{
          &:before{
            border-color: $success;
          }
          &:after{
            background-color: $success;
          }
        }
      }
    }
  }
  &.material-radio-info{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label{
          &:before{
            border-color: $info;
          }
          &:after{
            background-color: $info;
          }
        }
      }
    }
  }
  &.material-radio-secondary{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label{
          &:before{
            border-color: $secondary;
          }
          &:after{
            background-color: $secondary;
          }
        }
      }
    }
  }
  &.material-radio-warning{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label{
          &:before{
            border-color: $warning;
          }
          &:after{
            background-color: $warning;
          }
        }
      }
    }
  }
  &.material-radio-danger{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label{
          &:before{
            border-color: $danger;
          }
          &:after{
            background-color: $danger;
          }
        }
      }
    }
  }
  &.material-radio-light{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label{
          &:before{
            border-color: $light;
          }
          &:after{
            background-color: $light;
          }
        }
      }
    }
  }
  &.material-radio-dark{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label{
          &:before{
            border-color: $dark;
          }
          &:after{
            background-color: $dark;
          }
        }
      }
    }
  }
}


.toggle-button{
  &.toggle-button-primary{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label {
          &:before {
            background-color: $primary;
            border-color: $primary;
          }
          &:after {
            border-color: $primary-dark;
          }
        }
      }
    }
  }
  &.toggle-button-success{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label {
          &:before {
            background-color: $success;
            border-color: $success;
          }
          &:after {
            border-color: $success-dark;
          }
        }
      }
    }
  }
  &.toggle-button-info{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label {
          &:before {
            background-color: $info;
            border-color: $info;
          }
          &:after {
            border-color: $info-dark;
          }
        }
      }
    }
  }
  &.toggle-button-danger{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label {
          &:before {
            background-color: $danger;
            border-color: $danger;
          }
          &:after {
            border-color: $danger-dark;
          }
        }
      }
    }
  }
  &.toggle-button-warning{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label {
          &:before {
            background-color: $warning;
            border-color: $warning;
          }
          &:after {
            border-color: $warning-dark;
          }
        }
      }
    }
  }
  &.toggle-button-secondary{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label {
          &:before {
            background-color: $secondary;
            border-color: $secondary;
          }
          &:after {
            border-color: $secondary-dark;
          }
        }
      }
    }
  }
  &.toggle-button-light{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label {
          &:before {
            background-color: $light;
            border-color: $light;
          }
          &:after {
            border-color: $light-dark;
          }
        }
      }
    }
  }
  &.toggle-button-dark{
    .custom-control-input{
      &:checked{
        ~ .custom-control-label {
          &:before {
            background-color: $dark;
            border-color: $dark;
          }
          &:after {
            border-color: $dark-dark;
          }
        }
      }
    }
  }
}

/*-------------------------------
Sliders
*/

/*
Primary
*/
.primary-range-input::-webkit-slider-thumb {
  border: 1px solid $primary;
}
.primary-range-input::-moz-range-thumb {
  border: 1px solid $primary;
}

.primary-range-input{
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  color-stop(0.15, $primary),
                  color-stop(0.15, #ddd)
  );
}

.primary-range-input::-ms-fill-lower {
  background: $primary;
}

.primary-range-input::-ms-thumb {
  border: 1px solid $primary;
}

/*
Success
*/
.success-range-input::-webkit-slider-thumb {
  border: 1px solid $success;
}
.success-range-input::-moz-range-thumb {
  border: 1px solid $success;
}

.success-range-input{
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  color-stop(0.15, $success),
                  color-stop(0.15, #ddd)
  );
}

.success-range-input::-ms-fill-lower {
  background: $success;
}

.success-range-input::-ms-thumb {
  border: 1px solid $success;
}

/*
Info
*/
.info-range-input::-webkit-slider-thumb {
  border: 1px solid  $info;
}
.info-range-input::-moz-range-thumb {
  border: 1px solid  $info;
}

.info-range-input{
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  color-stop(0.15,  $info),
                  color-stop(0.15, #ddd)
  );
}

.info-range-input::-ms-fill-lower {
  background:  $info;
}

.info-range-input::-ms-thumb {
  border: 1px solid $info;
}

/*
Warning
*/
.warning-range-input::-webkit-slider-thumb {
  border: 1px solid  $warning;
}
.warning-range-input::-moz-range-thumb {
  border: 1px solid  $warning;
}

.warning-range-input{
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  color-stop(0.15,  $warning),
                  color-stop(0.15, #ddd)
  );
}

.warning-range-input::-ms-fill-lower {
  background:  $warning;
}

.warning-range-input::-ms-thumb {
  border: 1px solid $warning;
}

/*
Danger
*/
.danger-range-input::-webkit-slider-thumb {
  border: 1px solid  $danger;
}
.danger-range-input::-moz-range-thumb {
  border: 1px solid  $danger;
}

.danger-range-input{
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  color-stop(0.15,  $danger),
                  color-stop(0.15, #ddd)
  );
}

.danger-range-input::-ms-fill-lower {
  background:  $danger;
}

.danger-range-input::-ms-thumb {
  border: 1px solid $danger;
}

/*
Dark
*/
.dark-range-input::-webkit-slider-thumb {
  border: 1px solid $dark;
}
.dark-range-input::-moz-range-thumb {
  border: 1px solid $dark;
}

.dark-range-input{
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  color-stop(0.15, $dark),
                  color-stop(0.15, #ddd)
  );
}

.dark-range-input::-ms-fill-lower {
  background:  $dark;
}

.dark-range-input::-ms-thumb {
  border: 1px solid $dark;
}

/*
Secondary
*/
.secondary-range-input::-webkit-slider-thumb {
  border: 1px solid $secondary;
}
.secondary-range-input::-moz-range-thumb {
  border: 1px solid $secondary;
}

.secondary-range-input{
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  color-stop(0.15, $secondary),
                  color-stop(0.15, #ddd)
  );
}

.secondary-range-input::-ms-fill-lower {
  background:  $secondary;
}

.secondary-range-input::-ms-thumb {
  border: 1px solid $secondary;
}

/*
Light
*/
.light-range-input::-webkit-slider-thumb {
  border: 1px solid $light;
}
.light-range-input::-moz-range-thumb {
  border: 1px solid $light;
}

.light-range-input{
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  color-stop(0.15, $light),
                  color-stop(0.15, #ddd)
  );
}

.light-range-input::-ms-fill-lower {
  background:  $light;
}

.light-range-input::-ms-thumb {
  border: 1px solid $light;
}


.rectangular-slider{
  .primary-range-input::-webkit-slider-thumb {
    background-color: $primary;
  }
  .primary-range-input::-moz-range-thumb {
    background-color: $primary;
  }
  .primary-range-input::-ms-thumb {
    background-color: $primary;
  }
  .success-range-input::-webkit-slider-thumb {
    background-color: $success;
  }
  .success-range-input::-moz-range-thumb {
    background-color: $success;
  }
  .success-range-input::-ms-thumb {
    background-color: $success;
  }
  .info-range-input::-webkit-slider-thumb {
    background-color: $info;
  }
  .info-range-input::-moz-range-thumb {
    background-color: $info;
  }
  .info-range-input::-ms-thumb {
    background-color: $info;
  }
  .warning-range-input::-webkit-slider-thumb {
    background-color: $warning;
  }
  .warning-range-input::-moz-range-thumb {
    background-color: $warning;
  }
  .warning-range-input::-ms-thumb {
    background-color: $warning;
  }
  .danger-range-input::-webkit-slider-thumb {
    background-color: $danger;
  }
  .danger-range-input::-moz-range-thumb {
    background-color: $danger;
  }
  .danger-range-input::-ms-thumb {
    background-color: $danger;
  }
  .secondary-range-input::-webkit-slider-thumb {
    background-color: $secondary;
  }
  .secondary-range-input::-moz-range-thumb {
    background-color: $secondary;
  }
  .secondary-range-input::-ms-thumb {
    background-color: $secondary;
  }
  .light-range-input::-webkit-slider-thumb {
    background-color: $light;
  }
  .light-range-input::-moz-range-thumb {
    background-color: $light;
  }
  .light-range-input::-ms-thumb {
    background-color: $light;
  }
  .dark-range-input::-webkit-slider-thumb {
    background-color: $dark;
  }
  .dark-range-input::-moz-range-thumb {
    background-color: $dark;
  }
  .dark-range-input::-ms-thumb {
    background-color: $dark;
  }
}


/*-------------------------------
Forms
*/
.material-form{
  .form-group{
    .form-control {
      &.form-control-primary{
        &:focus{
          ~ label {
            color: $primary;
            &:after{
              background-color: $primary;
            }
          }
        }
      }
      &.form-control-success{
        &:focus{
          ~ label {
            color: $success;
            &:after{
              background-color: $success;
            }
          }
        }
      }
      &.form-control-info{
        &:focus{
          ~ label {
            color: $info;
            &:after{
              background-color: $info;
            }
          }
        }
      }
      &.form-control-warning{
        &:focus{
          ~ label {
            color: $warning;
            &:after{
              background-color: $warning;
            }
          }
        }
      }
      &.form-control-danger{
        &:focus{
          ~ label {
            color: $danger;
            &:after{
              background-color: $danger;
            }
          }
        }
      }
      &.form-control-secondary{
        &:focus{
          ~ label {
            color: $secondary;
            &:after{
              background-color: $secondary;
            }
          }
        }
      }
      &.form-control-light{
        &:focus{
          ~ label {
            color: $light;
            &:after{
              background-color: $light;
            }
          }
        }
      }
      &.form-control-dark{
        &:focus{
          ~ label {
            color: $dark;
            &:after{
              background-color: $dark;
            }
          }
        }
      }
    }
  }
}


/*-------------------------------
Accordions
*/
.collapse-group{
  &.collapse-group-success{
    .card {
      .card-header{
        [aria-expanded=true]{
          color: $success;
        }
      }
    }
  }
  &.collapse-group-primary{
    .card {
      .card-header{
        [aria-expanded=true]{
          color: $primary;
        }
      }
    }
  }
  &.collapse-group-danger{
    .card {
      .card-header{
        [aria-expanded=true]{
          color: $danger;
        }
      }
    }
  }
  &.collapse-group-info{
    .card {
      .card-header{
        [aria-expanded=true]{
          color: $info;
        }
      }
    }
  }
  &.collapse-group-warning{
    .card {
      .card-header{
        [aria-expanded=true]{
          color: $warning;
        }
      }
    }
  }
  &.collapse-group-light{
    .card {
      .card-header{
        [aria-expanded=true]{
          color: $light;
        }
      }
    }
  }
  &.collapse-group-dark{
    .card {
      .card-header{
        [aria-expanded=true]{
          color: $dark;
        }
      }
    }
  }
  &.collapse-group-secondary{
    .card {
      .card-header{
        [aria-expanded=true]{
          color: $secondary;
        }
      }
    }
  }
}

