.blue {
  color: $blue;
}
.purple {
  color: $purple;
}
.green {
  color: $green;
}
.cyan{
  color: $cyan;
}
.red {
  color: $red;
}
.orange {
  color: $orange;
}
.dark {
  color: $dark-blue;
}
.grey{
  color: $grey;
}

.border-blue {
  border-color: $blue !important;
}

.border-purple {
  border-color: $purple !important;
}

.border-green {
  border-color: $green !important;
}

.border-red {
  border-color: $red !important;
}

.border-dark {
  border-color: $dark !important;
}

.border-transparent {
  border-color: transparent !important;
}

.bg-white {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: $light-grey;
}
.bg-green {
  background: $green !important;
  border: 1px solid $green !important;
  color: #fff;
}

.bg-green {
  @include bg-color($green !important);
  color: #fff;
}
.bg-red {
  @include bg-color($red !important);
  color: #fff;
}
.bg-cyan {
  @include bg-color($cyan !important);
  color: #fff;
}
.bg-grey {
  @include bg-color($grey !important);
  color: #fff;
}
.bg-blue {
  @include bg-color($blue !important);
  color: #fff;
}
.bg-orange {
  @include bg-color($orange !important);
  color: #fff;
}
.bg-purple {
  @include bg-color($purple !important);
  color: #fff;
}
.bg-blue-sky {
  @include bg-color($blue-sky !important);
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-transparent {
  background-color: transparent !important;
}

.color-pallet{
  p{
    font-size: 13px;
  }
}

.color-shape{
  height: 70px;
  position: relative;
  &:after{
    content: "";
    background-image:url('../img/brushshape.png');
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.color-pallet-box{
  width: 70%;
}
@media screen and (min-width: 768px) {
  .color-value{
    width: 150px;
  }
}
@media screen and (min-width: 1400px) {
  .color-shape {
    height: 90px;
    width: 84%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 876px) {
  .color-name{
    height: 40px;
  }

}
@media screen and (max-width: 1200px) {
  .color-pallet{
    p{
      font-size: 12px;
    }
    .color-pallet-box{
      width: 100%;
    }
  }
}