$success: #0aa89e;
$success-dark: darken($success, 10%);
$success-darker: darken($success, 15%);
$success-light: lighten($success, 10%);
$success-lighter: lighten($success, 15%);

$secondary:#cfd0d2;
$secondary-dark: darken($secondary, 10%);
$secondary-darker: darken($secondary, 15%);
$secondary-light: lighten($secondary, 10%);
$secondary-lighter: lighten($secondary, 15%);

$info: #4DD0E1;
$info-dark: darken($info, 10%);
$info-darker: darken($info, 15%);
$info-light: lighten($info, 10%);
$info-lighter: lighten($info, 15%);

$primary: #6d5cae;
$primary-dark: darken($primary, 10%);
$primary-darker: darken($primary, 15%);
$primary-light: lighten($primary, 10%);
$primary-lighter: lighten($primary, 15%);

$danger: #e43a45;
$danger-dark: darken($danger, 10%);
$danger-darker: darken($danger, 15%);
$danger-light: lighten($danger, 10%);
$danger-lighter: lighten($danger, 15%);

$warning: #ffaa00;
$warning-dark: darken($warning, 10%);
$warning-darker: darken($warning, 15%);
$warning-light: lighten($warning, 10%);
$warning-lighter: lighten($warning, 15%);

$light: #eaeef3;
$light-dark: darken($light, 10%);
$light-darker: darken($light, 15%);
$light-light: lighten($light, 10%);
$light-lighter: lighten($light, 15%);

$dark:#8e959d;
$dark-dark: darken($dark, 10%);
$dark-darker: darken($dark, 15%);
$dark-light: lighten($dark, 10%);
$dark-lighter: lighten($dark, 15%);

$custom: #4DD0E1;
$custom-dark: darken($custom, 10%);
$custom-darker: darken($custom, 15%);
$custom-light: lighten($custom, 10%);
$custom-lighter: lighten($custom, 15%);