.fixed-header{
  .header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 998;
  }
  .sidebar {
    padding-top: 57px;
  }
  .main-content {
    margin-top: 57px;
  }
  &.nav-sm{
    .header-menu {
      .toggle {
        float: left;
        margin: 0;
        width: 75px;
        height: 57px!important;
        text-align: center;
      }
    }
  }
}



