@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/NotoSans-Regular.ttf);
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: 'musa';
  src:  url('../fonts/musa.eot?liz7mm');
  src:  url('../fonts/musa.eot?liz7mm#iefix') format('embedded-opentype'),
  url('../fonts/musa.ttf?liz7mm') format('truetype'),
  url('../fonts/musa.woff?liz7mm') format('woff'),
  url('../fonts/musa.svg?liz7mm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'musa' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-admin-logo:before {
  content: "\e900";
}
