html {
  height: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &::-webkit-scrollbar-track {
    @include border-radius(10px);
    background-color: white;
  }
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: $light-blue;
  }
  &::-webkit-scrollbar-thumb {
    @include border-radius(10px);
    background-color: $light-blue;
    @include box-shadow(inset 0 0 6px rgba(0,0,0,0.2));
  }
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $grey-dark;
  background: $light-blue;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
  font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.page-link {
  color: $link-color;
  text-decoration: none;
  outline: 0;
  &:visited, &:focus, &:active {
    outline: 0;
    color: darken($link-color, 5%);
  }
}

/*
Charts
 */
svg {
  position:relative;
  @include transition(width 0.3s cubic-bezier(0.15, 0.99, 0.18, 1.01));
  .grid {
    stroke: $lighter-grey;
    stroke-width: 1;
    &.x-grid{
      stroke-width: 0;
    }
  }
  .points {
    stroke: white;
    stroke-width: 2;
  }
  circle{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    stroke: #999999;
    stroke-width: 1;
  }
  .marker{
    font-weight: bold;
  }
  .labels {
    font-size: 14px;
    kerning: 1;
    text-anchor: middle;
  }
  path, rect{
    fill-opacity: .8;
    &:hover{
      fill-opacity: .9;
      cursor: pointer;
    }
  }
}

.main-container{
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  .content-wrapper{
    .main-content{
      min-height: calc(100vh - 116px);
      margin-bottom: 10px;
      .bg-title{
        background: #fff;
        overflow: hidden;
        padding: 10px 15px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        h4{
          color: $blue-grey;
          font-weight: 600;
          margin-top: 6px;
          font-size: 19px;
        }
        .breadcrumb{
          background: transparent;
          margin-bottom: 0;
          > li{
            display: inline-block;
            font-size: 15px;
            font-weight: normal;
            + li{
              &:before {
                content: "/\00a0";
                padding: 0 5px;
                color: #ccc;
              }
            }
          }
        }
      }
    }
  }
  .btn-theme {
    color: #ffffff;
    &.btn-outline {
      background-color: transparent;
    }
    &:focus {
      color: #ffffff;
    }
    &.active, &:active, &.active:focus {
      color: #ffffff;
    }
    &:active {
      &:focus, &:hover {
        color: #ffffff;
      }
    }
    &.hover, &:hover {
      color: #ffffff;
    }
    .badge {
      background-color: #ffffff;
    }
  }
  .pagination{
    li{
      .page-link{
        @include border-radius(0);
        font-size: 14px;
      }
    }
  }
  .chart-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
@media (max-width: 991px) {
  .main-container{
    .content-wrapper{
      .main-content {
         padding: 0 15px !important;
        .bg-title{
          margin-left: -15px;
          margin-right: -15px;
        }
      }
    }
  }
}
@media screen and (min-width: 768px){
  .main-container{
    .content-wrapper {
      @include transition(all .6s cubic-bezier(.15, .99, .18, 1.01));
    }
  }
}
@media screen and (min-width: 992px) {
  .bg-title {
    margin-left: -20px !important;
    margin-right: -20px !important;
  }
}
@media (max-width: 575px) {
  .breadcrumb {
    padding: 0;
  }
  .main-container {
    .content-wrapper {
      .main-content {
        .bg-title{
          padding: 10px 8px;
          .breadcrumb{
            > li {
              font-size: 13px;
            }
          }
          > div[class^="col-"]{
            padding: 0 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 340px){
  .main-container {
    .content-wrapper {
      .main-content {
        .bg-title {
          .breadcrumb{
            >li{
              font-size: 12px!important;
            }
          }
        }
      }
    }
  }
}