.rtl{
  direction: rtl!important;
  .text-right{
    text-align: left!important;
  }
  .alert{
    text-align: right;
    i, strong {
      margin-right: 0;
      margin-left: 7px;
    }
    &.alert-dismissible {
      .close {
        right: auto;
        left: 0;
      }
    }
  }
  .box-title, .box-content{
    text-align: right;
  }
  .header {
    .header-menu {
      .navbar-right{
        >li{
          &.dropdown.profile-dropdown{
            .dropdown-toggle {
              .fa-angle-down {
                margin-left: 0;
                margin-right: 5px;
              }
            }
          }
          &.dropdown.notifications-list.show .dropdown-menu.show {
            right: auto;
            left: 0!important;
          }
        }
      }
    }
  }
  .main-container{
    .content-wrapper {
      .main-content {
        .bg-title{
          text-align: right;
        }
        .tile-stats-count{
          div{
            text-align: right;
          }
        }
        .list-new-registrations{
          padding: 0;
          .list-group-item {
            .img-wrapper{
              margin-right: 0;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  &.nav-md{
    .content-wrapper{
      margin-right: 260px;
      margin-left: 0;
    }
    .sidebar{
      .scroll-wrapper{
        .profile{
          display: block;
        }
        .site-logo {
          margin-right: 0;
        }
        .main-menu-wrapper{
          .menu-section{
            > ul{
              padding-right: 0;
              .nav {
                &.child-menu > li {
                  padding-left: 0;
                  padding-right: 36px;
                }
              }
              li{
                a{
                  i{
                    &.fa{
                      margin-left: 10px;
                      float: right;
                      text-align: center;
                    }
                  }
                  span{
                    &:not(.fa){
                      float: right;
                    }
                    &.fa{
                      float:left;
                      margin-left: 20px;
                    }
                  }
                }
                &.opened{
                  >.child-menu{
                    padding-right: 0;
                    text-align: right;
                    li{
                      a{
                        span{
                          &.fa{
                            margin-left: 0;
                          }
                        }
                      }
                    }
                    >li{
                      ul {
                        li {
                          padding-left: 0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.nav-sm{
    .content-wrapper{
      margin-right: 94px;
      margin-left: 0;
    }
    .sidebar {
      .scroll-wrapper {
        .main-menu-wrapper {
          .menu-section{
            >ul{
              padding: 0;
            }
            .nav{
              &.child-menu {
                right: 100%;
                padding-right: 0;
              }
            }
           }
          }
        }
      }
    }
  .header{
    .header-menu{
      .navbar-right{
        float: left;
       >li{
         &.dropdown {
           .dropdown-menu {
             li {
               a {
                 padding-right: 10px;
               }
             }
             .notification-list {
               .list-group-item {
                 .notif-text{
                   text-align: right;
                 }
               }

             }
             .read-all-notif{
                a{
                  text-align: right;
                  i{
                    margin-left: 0;
                    margin-right: 7px;
                  }
                }
             }
           }
         }
         &.search-wrap{
           left: 227px;
         }
         &.profile-dropdown {
           .dropdown-toggle{
             img {
               margin-left: 7px;
             }
           }
           li{
             a{
               text-align: right;
               i{
                 margin-left: 5px;
               }
             }
           }
         }
       }
      }
      .toggle{
        float: right;
      }
    }
  }
  .settings-wrapper {
    left: -360px;
    right: auto;
    &.builder{
      &:before {
        left: 358px;
        border-bottom-left-radius: 0!important;
        border-top-left-radius: 0!important;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }
      &:after{
        left: 354px;
      }
      .builder-toggle {
        left: 355px;
      }
      .card {
        .card-body{
          .layout-view{
            &:after{
              left: -20px;
            }
          }
        }
      }
    }
    &.open{
      @include transform(translate3d(100%,0,0));
    }
    .scroll-wrapper {
      .scroll-content{
        .p-r-20{
          padding-left: 20px;
        }
      }
    }
  }
  .modal{
    .modal-header {
      .close {
        margin: -15px auto -15px -15px;
      }
    }
    .modal-footer>:not(:first-child) {
      margin-left: 0;
      margin-right: .25rem;
    }
  }
  .btn {
    i{
      &.right {
        margin-left: 0;
        margin-right: 5px;
      }
      &.left {
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }
  .btn-label {
    margin: -7px -13px -7px 12px;
  }
  .material-form {
   .form-group {
     .form-control{
       ~label{
         right: 5px;
         text-align: right;
         &:after{
           right: -5px;
         }
       }
     }
     .form-control{
       ~.form-control-line{
         text-align: right;
         right: 0;
         &:after{
           right: 0;
         }
       }
     }
   }
  }
  .invoice{
    .logo {
      margin-left: 10px;
    }
    .col-lg-9{
      text-align: right;
    }
  }
  .profile{
    ul{
      padding: 0;
    }
  }
  .card, .button-box, .image-box{
    text-align: right;
  }
  .table{
    &.table-collapse{
      &.table-detailed{
        >tbody{
          >tr{
            &.row-collapsable{
              >td{
                &:first-child:before {
                  margin-right: 0;
                  margin-left: 8px;
                }
              }
            }
          }
        }
      }
    }
    &.data-table{
      .remove{
        i{
          margin-left: 5px;
          margin-right: 0;
        }
      }
      .data-table-length{
        text-align: right;
      }
      .actions{
        a:not(:last-child){
          margin-right: 5px;
        }
      }
    }
  }
  .data-table-wrapper{
    .showing-items{
      text-align: right;
    }
  }
  footer{
    .icon-admin-logo{
      margin-left: 5px;
    }
  }
  .white-box{
    i.m-r-5.fa-circle{
      margin-left: 5px;
      margin-right: 0;
    }
  }
  .documentation{
    .vertical-tabs{
      .nav-tabs{
        padding: 0;
      }
    }
  }
  .nav-tabs-simple{
    &.nav-tabs-left {
      border-right: none;
      border-left: 2px solid $light-blue;
    }
    &.nav-tabs-right {
      border-left: none;
      border-right: 2px solid $light-blue;
    }
  }
}

@media screen and (max-width: 575px){
  .rtl{
    &.nav-sm .main-container .content-wrapper {
      width: 100%;
      margin: 0;
    }
  }

}
@media screen and (max-width: 575px){
  .rtl{
    &.nav-md{
      .main-container .content-wrapper {
        margin:0;
      }
    }
  }
}