/*------------------------------------------------------------------
[Sliders]
*/

/*
1. Basic
2. Horizontal Sliders
3. Vertical Sliders
4. Rectangular Sliders
-------------------------------------------------------------------*/

/* Basic
--------------------------------------------------
*/

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 0;
  z-index: 1;
  width: 11px;
  height: 11px;
  cursor: pointer;
  @include border-radius(50%);
  background-color: white;
}

input[type="range"]::-webkit-slider-runnable-track {
 background-color:  transparent;
}
input[type="range"]::-moz-range-thumb{
  z-index: 998;
}
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 0;
  z-index: 1;
  width: 11px;
  height: 11px;
  cursor: pointer;
  @include border-radius(50%);
  background-color: white;
}

input[type="range"]{
  width: 100%;
  -webkit-appearance: none;
  -moz-apperance: none;
  @include border-radius(5px);
  direction: ltr;
}

input::-ms-fill-lower {
  height: 2px;
}
input::-ms-fill-upper {
  background: #ddd;
  height: 2px;
}

input::-ms-thumb {
  width: 11px;
  height: 11px;
  cursor: pointer;
  @include border-radius(50%);
  top:0;
  background: white;
}

input::-ms-track {
  color: transparent;
  border: 0;
  @include border-radius(5px);
  background: transparent;
  height: 16px;
}
.rounded-slider{
  label{
    border: 1px solid;
    @include border-radius(3px);
  }
}

/*
* Horizontal Sliders
*/

.horizontal-slider{
  padding: 10px 0;
  label{
    position: relative;
    top: 10px;
    color: #fff;
    font-size: 10px;
    line-height: 1.333;
    @include box-shadow(none);
    padding: 1px 5px;
    text-align: center;
  }
}



/*
* Vertical Sliders
 */
input[type="range"][data-orient="vertical"]{
  @include transform(rotate(-90deg));
}

.vertical-slider{
  padding: 10px 0;
  > div{
    display: inline-block;
    float: left;
    position: relative;
    top: 38px;
    height: 120px;
    margin-bottom: 10px;
    input{
      width: 120px;
    }
    label{
      position: absolute!important;
      margin-left: 14px;
      width: 30px;
      color: #fff;
      font-size: 10px;
      line-height: 1.333;
      @include box-shadow(none);
      padding: 1px 4px;
      text-align: center;

    }
  }
  &.vertical-slider-labeled-right{
    > div{
      label{
        margin-left: 78px;
      }
    }
  }
}

/*
* Rectangular Sliders
 */
.rectangular-slider{
  input[type="range"]::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    @include border-radius(2px);
    border: 0;
  }
  input[type=range]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    @include border-radius(2px);
    border: 0;
  }
  input::-ms-fill-lower {
    height: 3px;
  }
  input::-ms-fill-upper {
    background: $whitesmoke;
    height: 3px;
  }

  input::-ms-thumb {
    width: 12px;
    height: 12px;
    @include border-radius(2px);
    border: 0;
  }

  input::-ms-track {
    border: 0;
    @include border-radius(5px);
  }
  label{
    @include border-radius(2px);
  }
}

input[type=range]::-ms-tooltip {
  display: none;
}