@import "../partials/variables";

/*------------------------------------------------------------------
[Dashboard]
*/

/** top tiles  */
.tile-count {
  clear: both;
  > [class^=col-]{
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  .tile-stats-count {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-bottom: 10px;
    i{
      font-size: 26px;
      color: fade-out( $light-grey, .6);
    }
    .counter {
      line-height: 47px;
      font-weight: 400;
      font-size: 42px;
    }
    span {
      font-size: 12px;
    }
    h5{
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    h3{
      margin-top: 0;
    }
    > div{
      padding: 20px;
      background-clip: padding-box;
      background-color: #ffffff;
    }
  }
}

.list-task{
  .list-group-item{
    margin: 3px;
    padding-left: 0;
    padding-right: 0;
  }
}
.list-new-registrations{
  .list-group-item{
    margin: 3px;
    padding-left: 0;
    padding-right: 0;
    a{
      display: block;
      &:hover{
        color: $dark-blue;
      }
    }
    .img-wrapper{
      align-items: center;
      display: flex;
      width: 35px;
      height: 35px;
      margin-right: 10px;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
    div{
      .btn{
        height: 40px;
      }
    }
  }
}

@media (max-width: 575px) {
  .tile-count{
    .tile-stats-count {
      .counter {
        font-size: 25px;
        line-height: 1;
      }
      h5{
        margin: 0;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .tile-count{
    .tile-stats-count {
      .counter {
        font-size: 30px;
        line-height: 1;
      }
    }
  }
}


.main-container{
  .carousel-wrapper{
    &.col-12{
      height: calc(50% - 5px);
    }
    .dashboard-carousel{
      .carousel-inner{
        margin-top: 20px;
      }
      .carousel-indicators{
        top: 0;
        left: 0;
        justify-content: start;
        margin: 0;
        li{
          width: 6px;
          height: 6px;
        }
      }
    }
  }
}
