@import "../partials/variables";

/*------------------------------------------------------------------
[Documentation]
*/

.documentation{
  .vertical-tabs{
    table-layout:fixed;
    width: 100%;
    .tab-content{
      padding: 15px 30px;
      .img-fluid{
        box-shadow: 0 2px 4px $whitesmoke;
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .documentation{
    .vertical-tabs{
      .nav-tabs{
        width: 200px;
      }
      .nav-item{
        white-space: nowrap;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .documentation{
    .vertical-tabs{
      .nav-tabs{
        width: 135px;
      }
      .tab-content{
        ul, ol{
          padding-left: 25px;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .documentation{
    .vertical-tabs{
      .nav-tabs{
        display: table-row;
        >li.nav-item {
          .nav-link {
            padding: 8px 15px!important;
          }
          &:last-child{
            border-bottom: 3px solid $light-blue;
          }
        }
      }
      .white-box{
        padding: 0!important;
      }
      .tab-content{
        border-top: 1px solid rgba(0,0,0,.1);
        padding: 15px;
      }
    }
  }
}
