/*------------------------------------------------------------------
[Invoice]
*/

.invoice{
  .invoice-logo{
    max-width: 80px;
    height: auto;
  }
  .invoice-top-row{
    .invoice-logo{
      font-size: 20px;
    }
  }
  .invoice-buttom-row{
    .invoice-logo{
      font-size: 13px;
    }
  }
}
#btnPrint{
  opacity: .7;
  font-size: 18px;
}

@media print {
  .sidebar, header, .settings-wrapper, footer, .page-title, .modal,.btn-print-wrapper{
    display: none!important;
  }
  .content-wrapper{
    margin-left: 0!important;
  }
  #invoice-wrapper {
    #invoice{
      .row{
        &.total-box {
          margin: 30px 0 60px 0;
          height: 125px;
          > .col-12{
            -ms-flex: 0 0 33.333%!important;
            flex: 0 0 33.333%!important;
            max-width: 33.333%!important;
          }
        }
      }
    }
  }
}