@import "../partials/mixins";

/*------------------------------------------------------------------
[Lockscreen]
*/
.main-container{
  display: inline-block;
  .lockscreen-container{
    .form-container{
      width: 440px;
      background: white;
      padding: 38px;
      @include box-shadow(0 4px 23px 0 rgba(0,0,0,.09));
      .logo-container{
        margin-bottom: 40px;
        img{
          max-width: 50px;
          height: auto;
        }
        .logo{
          font-size: 18px;
        }
      }
      .profile-img{
        width: 48px;
        height: 48px;
      }
      .input-group {
        .input-group-content {
          .form-control {
            width: 97%;
            &:focus{
              ~label{
                &:after {
                  width: 97%;
                }
              }
            }
          }
        }
        .input-group-btn{
          button{
            @include border-radius(2px);
          }
        }
      }
    }
  }
}



@media (max-width: 575px) {
  .lockscreen-container{
      .form-container{
        min-height: 100vh;
        width: 100vw;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include flex-direction(column);
        form{
          width: 80%;
        }
      }
  }
}
@media (max-width: 340px) {
  .lockscreen-container{
      .form-container{
        padding: 2px;
        .material-form{
          .form-group{
            margin-top: 10px;
          }
        }
      }
  }
}