@import "../partials/mixins";
@import "../partials/variables";

/*------------------------------------------------------------------
[User profile]
*/

.profile{
  .profile-detail{
    .profile-image-wrapper{
      .profile-image{
        width: 120px;
        height: 120px;
        object-fit: cover;
      }
    }
    .social-links{
      font-size: 18px;
    }
  }
  .friends-list{
    ul{
      li{
        margin: 3px;
        padding-left: 0;
        padding-right: 0;
        a{
          img{
            width: 40px;
            height: 40px;
            object-fit: cover;
          }
          h5{
            font-size: 16px;
            margin-right: 8px;
          }
        }
        &:not(:last-child){
          &:hover, &:focus{
            a{
              opacity: .8;
              color: inherit;
            }
          }
        }
      }
    }
  }
  .timeline-view{
    form{
      &.material-form{
        .form-group{
          margin-bottom: 10px;
          textarea{
            min-height: 49px;
          }
        }
      }
    }
    #activity{
      .timeline{
        position: relative;
        padding: 20px 0 0 0;
        left: 0;
        li{
          position: relative;
          display: block;
          white-space: nowrap;
          min-height: 30px;
          @include box-sizing(border-box);
          .timeline-circle {
            position: absolute;
            line-height: 38px;
            background: $light-blue;
            top: 24px;
            width: 40px;
            height: 40px;
            margin-left: 0;
            font-size: 18px;
          }
          .timeline-entry{
            position: relative;
            display: inline-block;
            width: 100%;
            padding: 0;
            vertical-align: top;
            margin: 0 -3px 0 0;
            white-space: normal;
            .card{
              margin-left: 60px !important;
              margin-right: 0;
              margin-bottom: 10px;
              .card-body{
                background-color: $light-blue;
                &.timeline-entry-content{
                  position: relative;
                  &:before{
                    content: "";
                    position: absolute;
                    top: 30px;
                    left: -14px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 14px 14px 14px 0;
                    border-color: transparent $light-blue transparent transparent;
                  }
                  time{
                    color: $grey!important;
                    font-size: 12px;
                    opacity: .8;
                  }
                }
              }
              img{
                &.rounded-circle{
                  width: 40px;
                  left: 10px;
                  margin-right: 10px;
                }
              }
            }
          }
        }
        &:before{
          top: 44px;
          bottom: 0;
          position: absolute;
          content: " ";
          background-color: darken($light-blue, .8);
          left: 21px;
          width: 2px;
          margin-left: -1px;
        }
      }
    }
  }
}


